<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bike Configurator</title>
</head>

<body>
    <h1>Bike Configurator</h1>
    <button id="click">Validate</button>
    <p>
    <div id="output"></div>
    </p>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#click').click(function () {
                $.get("http://localhost:8000/api/bikeparts/").done(function (data) {
                    $('#output').text(`Succesfully received ${data.length} bike parts`);
                }).fail(function () {
                    $('#output').text("Failed!");
                });
            });
        })
    </script>
    <form action="search" method="post">
        <table>
            <tr>
                <td><label for="group">Assembly Group:</label></td>
                <td><input type="text" name="group" placeholder="Cockpit"></td>
            </tr>
            <tr>
                <td><label for="source">Source:</label></td>
                <td><input type="text" name="source" placeholder="bike24.de">
                </td>
            </tr>
        </table>
        <button type="submit">Search</button>
    </form>
</body>

</html>