<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bike Configurator</title>
</head>

<body>
    <h1>Bike Configurator</h1>
    <form action="search" method="post">
        <table>
            <tr>
                <td><label for="group">Assembly Group:</label></td>
                <td><input type="text" name="group" required /></td>
            </tr>
            <tr>
                <td><label for="source">Source:</label></td>
                <td><input type="text" name="source" required />
                </td>
            </tr>
        </table>
        <button type="submit">Search</button>
    </form>
    </p>
</body>

</html>